body {
  font-family: Roboto, sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fredoka One', sans-serif;
}
.wf-fredokaone-n4-active h1,
.wf-fredokaone-n4-active h2,
.wf-fredokaone-n4-active h3,
.wf-fredokaone-n4-active h4,
.wf-fredokaone-n4-active h5,
.wf-fredokaone-n4-active h6 {
  font-weight: 100;
}
hr {
  border: none;
  border-bottom: 3px solid #FFEB3B;
  opacity: 0.4;
  width: 60%;
}
* {
  box-sizing: border-box;
}
a {
  color: #000;
}
#head {
  background: #FFEB3B;
  min-height: 100vh;
  -webkit-transition: all 1s;
          transition: all 1s;
  will-change: transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#head.up {
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
#head a {
  text-decoration: none;
  font-size: 6vh;
  font-weight: 100;
  display: block;
  -webkit-transition: -webkit-transform .2s;
          transition: transform .2s;
  will-change: transform;
}
#head a:hover,
#head a:focus {
  -webkit-transform: translateX(-0.25em);
          transform: translateX(-0.25em);
}
#head .date {
  display: block;
  font-size: .5em;
}
@media (max-width: 500px) {
  #head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.js.font-wait #head a {
  opacity: 0;
  -webkit-transition: all .6s;
          transition: all .6s;
}
.js.font-wait.font-waited #head a,
.js.font-wait.wf-fredokaone-n4-active #head a {
  opacity: 1;
}
#head-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#head-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#logo {
  background-image: url(logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
  height: 300px;
  height: 50vmin;
  -webkit-transition: all 2s;
          transition: all 2s;
  will-change: transform;
}
.up #logo {
  -webkit-transform: translateY(-30px) rotate(-1.5deg) scale(0.8);
          transform: translateY(-30px) rotate(-1.5deg) scale(0.8);
}
#content {
  margin: auto;
  max-width: 40em;
  padding: 0 1em;
}
.event {
  margin: 4em 1em;
}
.event-title {
  font-size: 3.5em;
  text-align: center;
  margin: 0;
}
.event-title a {
  text-decoration: none;
}
.event-date {
  text-align: center;
  margin: 0 0 2em 0;
}
.organisers {
  text-align: center;
}
.organiser {
  display: inline-block;
  text-decoration: none;
}
.organiser img {
  display: inline-block;
  vertical-align: middle;
  max-width: 3em;
  border-radius: 100%;
}
.actions {
  text-align: center;
}
.actions .action {
  display: inline-block;
  padding: .5em;
  text-decoration: none;
  background: #FFEB3B;
  border-radius: 5px;
}
