@yellow: #FFF200;

body{
  background: @yellow;
  text-align: center;
  font-size: 150%;
  font-family: sans-serif;
}
h1, h2 {
  font-family: 'Fredoka One', sans-serif;

  font-weight: 100;
  letter-spacing: .07em;
  text-transform: uppercase;
}

a {
  color:#000;
  text-decoration: none;
}

p {
  font-size:.8em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2em;
  max-width: 25em;

  padding-right: 1em;


}

.actions {
  text-align: right;
  margin:0;
  a {
    background:#000;
    color:#fff;
    font-family: 'Fredoka One', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: .3em .6em;
    border-radius: 2px;

    &:hover{
      color: @yellow;
    }
  }
}


// only show text once fonts have loaded
#main{
  transition:all .2s;
  .font-wait & {
    opacity: 0;
    transform: translate(10px, 0);
  }

  .font-waited &,
  .wf-active & {
    opacity: 1;
    transform: translate(0, 0);
  }
}

#logo{
  background-image: url(logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
  height: 500px;
  width: 100%;
}

.date {
  font-size:.6em;
  display: block;
}


// Positioning

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  min-height: 100%;
  align-items: center;
}

#head {
  transition: all .5s;
  flex: 1;
}
#main {
  transition: all .7s;
  flex: 1;
  text-align:left;
}
#content {
  transition: all 1s;
  flex: 0.01;
  text-align: left;
  font-size: 1.2em;
}


.js {
  section {
    p {display:none;}

    h2 a{
      // transition: all .2s;
      display: inline-block;

      &:after {
        transition: all .2s;
        content: '<';
        display: inline-block;
        position: absolute;
        margin-left: .2em;
        opacity: .2;
      }

      &:hover:after {
        opacity: 1;
      }
    }
  }
}

.js.has-content section.active h2 a{
  &:hover {
    transform: none;
  }
  &:after {
    transform:rotate(-90deg);
  }
}

.has-content {

  section{
    transition: all .3s;
    opacity: 0.2;
    transform: translate(10px, 0);
  }

  section.active{
    opacity: 1; 
    transform: translate(0, 0);

    p {
      display: block;
      transform: translate(0, 0);
    }
  }

  #head {
    flex: 0.7;
  }
  #main {
    flex: 1;
  }
}

@media (max-width: 450px) {
  body{
    display: block;
  }
  #logo {
    height: 300px;
  }
  #main{
    text-align: center;
  }
  .has-content section {
    transform: translate(0, 0);
  }
  p{
    padding: 0 1em;
  }
  .actions {
    text-align: center;
    margin-bottom: 3em;
  }
}
