@yellow: #FFF200;

body{
  background: @yellow;
  text-align: center;
  font-size: 150%;
  font-family: sans-serif;
}
h1, h2 {
  font-family: 'Fredoka One', sans-serif;

  font-weight: 100;
  letter-spacing: .07em;
  text-transform: uppercase;
}

a {
  color:#000;
  text-decoration: none;
}

p {
  font-size:.8em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2em;
  padding:0 1em;
  max-width: 25em;
}


/*  Section highlighiting (works, but looks a bit rubbish)

section {
  p {display:none;}  

  &:target{
    h1, h2 {
      padding:.5em;
      &, & * {
        background:black;
        color:#fff;
      }
    }

    p {
      display:block;
    }
  }
}

*/

// only show text once fonts have loaded
#main{
  -webkit-transition:all .2s;
  .font-wait & {
    opacity: 0;
    -webkit-transform: translate(10px, 0);
  }

  .font-waited &,
  .wf-active & {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

#logo{
  background-image: url(logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
  height: 500px;
  width: 100%;


}

.date {
  font-size:.6em;
  display: block;
}



// Positioning

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  min-height: 100%;
  align-items: center;
}

#head {
  flex: 1;
}
#main {
  flex: 1;
  text-align:left;
}


@media (max-width: 450px) {
  body{
    display: block;
  }
  #logo {
    height: 300px;
  }
  #main{
    text-align: center;
  }
}
