@yellow: #FFEB3B;

body {
  font-family: Roboto, sans-serif;
  margin:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', sans-serif;

  .wf-fredokaone-n4-active & {
    font-weight: 100;
  }
}

hr {
  border:none;
  border-bottom: 3px solid @yellow;
  opacity: 0.4;
  width: 60%;
}

* {
  box-sizing: border-box;
}

a {
  color: #000;
}

#head {
  background: @yellow;
  min-height: 100vh;
  transition: all 1s;
  will-change: transform;

  &.up {
    box-shadow: rgba(0,0,0,0.2) 0 0 25px;
    transform: translateY(-30px);
  }

  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    font-size:6vh;
    font-weight: 100;
    display:block;

    transition: transform .2s;
    will-change: transform;
    &:hover, &:focus {
      transform: translateX(-.25em);
    }
  }

  .date {
    display: block;
    font-size:.5em;
  }


  // stack up on smaller devices
  @media (max-width: 500px) {
    flex-direction: column;
  }


  // fade in heading text once font has loaded
  // (or failed loading)
  .js.font-wait & a {
    opacity: 0;
    transition: all .6s;
  }
  .js.font-wait.font-waited & a,
  .js.font-wait.wf-fredokaone-n4-active & a
   {
    opacity: 1;
  }

}

#head-left {
  flex: 1;
}
#head-right {
  flex: 1;
}


#logo{
  background-image: url(logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
  height: 300px;
  height: 50vmin;

  transition: all 2s;
  will-change: transform;

  .up & {
    transform: translateY(-30px) rotate(-1.5deg) scale(.8);
  }

}


#content {
  margin:auto;
  max-width: 40em;
  padding: 0 1em;
}

.event {
  margin:4em 1em;
}

.event-title {
  font-size: 3.5em;
  text-align: center;
  margin: 0;
  a {text-decoration: none}
}

.event-date {
  text-align: center;
  margin: 0 0 2em 0;
}


.organisers {
  text-align: center;
}
.organiser {
  display:inline-block;
  text-decoration: none;
  // margin-right: .25em;

  img {
    display: inline-block;
    vertical-align:middle;
    max-width: 3em;
    border-radius: 100%;
  }
}

.actions {
  text-align: center;
  .action {
    display: inline-block;
    padding:.5em;
    text-decoration: none;
    background: @yellow;
    border-radius: 5px;

  }
}
